@font-face {
  font-family: 'Montserrat-Black';
  src: url(../../../fonts/Montserrat-Black.ttf);
}

.title {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}