.logo_img {
  float: left;
  background-color: white;
  padding: 3px;
  border-radius: 9px
}

.logo_div {
  img {
    margin-right: 4px;
    margin-top: 1px;
  }
}

.dropdown {
  width: 500px;
  margin-top: 13px !important;
  // background-color: aqua;
}

.nav_button {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 5px;
}